{% extends 'base.html' %}
{% block title %}
    Book store - Book details
{% endblock %}
{% block content %}
<div class="container-fluid">
<form>
  <div class="mb-3 mt-4  me-6" >
    <label for="Book_title" class="form-label">Title</label>
    <input type="text" class="form-control" id="Book_title" aria-describedby="emailHelp" placeholder="enter book title"></div>
<!--    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
<!--  </div>-->
  <div class="mb-3">
    <label for="Book_author" class="form-label">Author</label>
    <input type="text" class="form-control" id="Book_author" placeholder="enter book author">
  </div>
    <div class="mb-3">
    <label for="Book_price" class="form-label">Price</label>
    <input type="number" class="form-control" id="Book_price" placeholder="enter book price">
  </div>
 <div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <label for="message" class="form-label">Book description</label>
      <textarea
        id="message"
        name="message"
        class="form-control w-100 border"
        rows="5"
        placeholder="Enter book description">
      </textarea>
    </div>
  </div>
</div>


  <div class="mb-3 form-check">

  <div class="mb-3 form-check">


    <input type="checkbox" class="form-check-input" id="agree">
    <label class="form-check-label" for="agree">I agree with terms and conditions</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
</div>

{% endblock %}